# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAlchemy
Flask-Migrate
Flask-Script
Flask-Login
psycopg2
Flask-Session
Flask-Admin
Flask-JWT
flask-mysql

mysqlclient==1.3.4
# ----------------------
# Production Server
# ----------------------
gunicorn
